<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/editIntro.css">
</head>
<body>
    <div id="editIntro">

        <div id="introForm">
            <h1>Edit Job Details</h1>
            <p>* indicates required</p>
            <form action="/editJob" method="post">
                <input type="text" name="jobtitle" placeholder="Job Title*">
                <input type="text" name="company" placeholder="Company Name*">
               <button style="margin-left:30%; border:1px solid blue; color:blue;background-color:white; padding: 0.5vmax; border-radius:2vmax; width:30%">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>